.flight-row * {
    color:var(--dark-grey-text);
    font-family: Nunito Sans;
    padding:10px 0;
    font-size: .7rem;
}
.flight-row{
    transition: 200ms;
    border-bottom: 1px solid var(--grey-text);
}
.flight-row:hover{
    cursor: pointer;
}

.flight-row.selected{
    background-color: rgba(0,0,0,0.05);
}